<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>React • TodoMVC</title>
		<link rel="stylesheet" href="{{ '/vendor/todomvc-app-css/index.css' | url }}">
	</head>
	<body>
		<section class="todoapp" id="app"></section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>
				Created by <a href="http://github.com/petehunt/">petehunt</a>
				As a part of <a href="http://todomvc.com">TodoMVC</a>
			</p>
		</footer>

		<script src="{{ '/vendor/director.js' | url }}"></script>
		<script type="module" src="{{ '/js/main.js' | url }}"></script>
	</body>
</html>
